body {
    font-family: "Lato", sans-serif;
  }
  ul {
    list-style-type: none;
  }
  .pro {
    float: left;
  }
  .sidenav {
    
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:   #474787;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    display: block;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      

      font-size: 18px;
      left: 10px;
      
    }
}

  hr {
    
    width: 60%;
    
  }
  .btn.btn-default {
    text-align: left;
    color: #dfe4ea;
  }